 .hero {
     display: flex;
     margin: 0 auto;
     background: black;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 100%;
     padding: 100px;
     gap: 24px;
     /* box-shadow: 3px 4px 4px #444444; */

 }

 .profile_container {
     flex-direction: column;
     background-color: black;
     justify-content: center;
     align-items: center;
     width: 100%;
     padding: 0 3rem 1rem 0;
     gap: 2rem;
     flex: 1;
     /* box-shadow: 3px 4px 4px #444444; */
 }

 .img_container {
    flex: 1;
 }

 .hero_img {
     display: block;
     object-fit: cover;
     width: 100%;
     /* box-shadow: 3px 4px 4px #444444; */
     border-radius: 50%;
 }

 .profile_content {
     display: flex;
     flex-direction: column;
     justify-content: center;
     flex: 2;
 }

 .profile_name {
     align-self: center;
     color: yellow;
     font-size: 1.5rem;
     font-weight: 200;
 }

 .profile_role {
     align-self: center;
     font-size: 1.5rem;
     font-weight: 300;
 }

 .profile_btn {
     width: fit-content;
     background: white;
     color: #4a0084;
     margin: 1rem 0;
     border: none;
     font-size: 1.5rem;
     padding: 5px 20px;
     font-weight: 500;
     /* box-shadow: 10px 3px 3px #444444; */
 }

 .profile_link{
    color: #4a0084;
 }

 .about_container {
     display: flex;
     flex: 1;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     gap: 4rem;
     padding: 2rem 1rem;

 }

 .description {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 2rem;
     font-size: 1.5rem;
 }

 h1 {
     font-size: 2rem;
 }

 .about_link {
     display: flex;
     flex-direction: column;
     /* justify-content: center;
     align-items: center; */
 }

 .about_btn {
     width: 150px;
     background: white;
     margin: 1rem 0;
     padding: 0 1.5rem;
     border: none;
     font-size: 1.5rem;
     font-weight: 500;
     box-shadow: 10px 3px 3px #444444;
 }

 @media screen and (min-width: 700px) {
     .hero {
         flex-direction: row;
     }

     .about_container {
         padding: 2rem;
         align-items: unset;
     }

     h1 {
         font-size: 2rem;
     }

     .about_link {
         flex-direction: row;
         justify-content: space-around;
     }

     .about_btn {
         width: 150px;
         background: white;
         margin: 1rem 0;
         padding: 0 2rem;
         border: none;
     }
 }