.contact {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
    box-shadow: 3px 4px 4px #444444;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.5rem;
}

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-field {
    border: 1px solid white;
    color: black;
    padding: 0.5rem;
    box-shadow: 3px 4px 4px #444444;
    background: white;
    font-size: 1rem;
}

textarea {
    display: block;
    width: 80%;
}

.submit-btn {
    width: 150px;
    color: black;
    background-color: white;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}